<div class="container mt-5">
    <h1>심심할때 영상 보기</h1>
    <form action="/game/result">
        <div class="form-group">
            <label for="checkMenu">원하는 것을 선택하세요.</label>
        </div>
      
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="exampleRadios" value="단편드라마">
                    단편드라마
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="exampleRadios" value="뮤직비디오">
                    뮤직비디오
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="exampleRadios" value="교훈">
                    교훈
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="exampleRadios" value="게임">
                    게임
            </label>
        </div>
      <button type="submit" class="btn btn-info">결과보기</button>
    </form>
</div>