<div class="container mt-5">
    <h1>지금 볼 영상을 찾기 위해 클릭!</h1>
    
    <div class="mx-auto mt-5" style="width:150px">
        
        <h1><a href="https://www.youtube.com/results?search_query=<%= @video %>">TAP</a></h1>
        
    </div>
</div>